.header {
  display: flex;
  justify-content: center;
  animation: shine 2000ms linear infinite;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 5rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

body {
  animation: gradientAnimation 2000ms linear infinite;
  background: linear-gradient(
    45deg,
    #ff7f50,
    #d9e599,
    rgba(230, 251, 44, 0.629),
    #4b0082,
    #00ced1
  );
  background-size: 400% 400%;
}
